:root {
    --background :rgb(243, 234, 234);
    --text : rgba(0, 0, 0, 0.945);
    --border : rgb(146, 138, 138);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    background-image: url('../image/pattern.jpeg');
    background-repeat: repeat;
}