.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
}
.board-row{
    display: flex;
    flex-direction: row;
}

.line {
    height: 90px;
    width: 10px;
    background: var(--border);
}
.h-line{
    width: 290px;
    height: 10px;
    background: var(--border);
    border-radius: 5px;
}
/* @media screen and (max-width: 800px) {
    .line{
        height: 80px;
    }
    .h-line{
        width: 260px;
    }
  } */