.board {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.board-row{
    display: flex;
    flex-direction: row;
}

.line {
    height: 90px;
    width: 10px;
    background: var(--border);
}
.h-line{
    width: 270px;
    height: 10px;
    background: var(--border);
    border-radius: 5px;
}