:root {
    --head-background :green;
    --head-text : rgb(241, 238, 238);
}

.header{
    width: 95%;
    height: 70px;
    margin-top: 20px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--head-background);
    color: var(--head-text);
}
.header h1 {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .header {
        margin-top: 15px;
    }
}