.square {
    width: 90px;
    height: 90px;
    border: none;
    background: transparent;
    font-size: 55px;
    font-weight: 800;
}
.square:hover,
.square:focus {
    border: none;
    outline: none;
}